<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>       
        <!--PayPal access credentials. Create a PayPal payment gateway account to get these credentials-->        
        <add key="USER" value="MYUSER"/>
        <add key="VENDOR" value="MYVENDOR"/>
        <add key="PARTNER" value="MYPARTNER"/>
        <add key="PWD" value="MYPWD"/>
                      
        <!-- Payflow Pro Host Name. This is the host name for the PayPal Payment Gateway.
	
		    For testing: 	pilot-payflowpro.paypal.com.
		    For production: payflowpro.paypal.com
	    -->
        <add key="PAYFLOW_HOST" value="pilot-payflowpro.paypal.com" />
        <!-- TRACE value when set to ON will show the 
			    complete exception stack trace in the response message, if any.
				    Change TRACE value to "ON" to switch on the stack trace in response message.-->
        <add key="TRACE" value="OFF" />
        <!-- This is a LOG level tag.To switch on logging change the logger level from "OFF" to any of the following:
	    a. DEBUG
	    b. INFO
	    c. WARN
	    d. ERROR
	    e. FATAL
	    -->
        <add key="LOG_LEVEL" value="OFF" />
        <!-- Relative path for LOG file. -->
        <add key="LOG_FILE" value="logs\PayflowSDK.log" />
        <!-- Log file filesize constant. -->
        <add key="LOGFILE_SIZE" value="102300" />
    </appSettings>
  

  <system.web>
    <compilation debug="false" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
